# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.sdf
*.sln
Bookstore/Bookstore/Debug/*
Bookstore/Bookstore/Bookstore.*
Bookstore/Bookstore.opensdf
*.opensdf
Bookstore/Bookstore.opensdf
Bookstore/Bookstore/Bookstore.vcxproj
Bookstore/Bookstore/Debug/Bookstore.log
Bookstore/Bookstore/Debug/Bookstore.tlog/Bookstore.lastbuildstate
Bookstore/Bookstore/Debug/Bookstore.tlog/CL.read.1.tlog
Bookstore/Debug/Bookstore.pdb
*.ilk
Bookstore/Bookstore/Debug/vc120.idb
*.tlog